.idea/ccks2021FEE.iml
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/remote-mappings.xml
.idea/vcs.xml
.idea/webServers.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
test.py
data/ccks_task2_eval_data.txt
data/ccks_task2_train.txt
